*,
*::before,
*::after {
	box-sizing: border-box;
}
*::selection {
	color: $blue;
	background-color: rgba($white, 80%);
}
html {
	background-color: $blue;
	color: $pink;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

#site {
	display: grid;
	height: 100%;
	margin-top: 1rem;
	grid-template-rows: auto 1fr auto;
	background-color: $blue;
	background: linear-gradient(45deg, $blue 60%, $purple 100%);
}

@import 'text';
@import 'utility';
@import 'forms';
@import 'tables';