* {
	font-size: 16px;
	font-family: $font-family;
	line-height: 1;
	vertical-align: bottom;
}

// Paragraphs
p {
	line-height: 1.45;
	letter-spacing: -0.5px;
}

// Links
a,
a:visited,
a:active {
	color: $white;
	font-family: $font-family;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

// Lists
ul,
ol {
	li {}
}

// Bold
strong,
b {
	font-family: $font-family;
	font-weight: bold;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.4;
}
h1 {
	font-weight: normal;
	font-family: $font-family;
	font-size: 2.8rem;
	font-weight: 800;
	color: $pink;
	text-shadow: 0.5px 0.5px 0px $white;
	border-bottom: 1px solid $white;
	margin-bottom: 15px;

	&.page__title {
		font-size: 4.2rem;
		color: $blue;
		text-shadow: 1px 1px 0px $pink;
		border-bottom: none;
		margin-bottom: 0;
	}
}

h2 {
	font-weight: bold;
	font-family: $font-family;
	font-size: 2rem;
}

h3 {
	font-weight: bold;
	font-family: $font-family;
	font-size: 1.6rem;
}

h4 {
	font-weight: normal;
	font-family: $light;
	font-style: italic;
	font-size: 18px;
}

h5 {
	font-size: 16px;
	font-weight: bold;
	font-family: $font-family;
}
h6 {
	font-weight: normal;
	font-family: $font-family;
	font-size: 14px;
	text-transform: uppercase;
}