.header {
	background-color: $purple;
	background: linear-gradient(45deg, $blue 20%, $purple 80%);
	border-top: 1px solid $pink;
	border-bottom: 1px solid $pink;
	height: 60px;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}

	/* Brand */
	&__brand {
		background-color: $pink;
		padding: 15px;
		display: block;
		height: 100%;

		.header__site-title {
			line-height: 30px;

			a {
				color: $blue;
				font-weight: 400;

				&:hover {
					text-decoration: none;
					font-weight: 800;
				}
			}
		}
	}

	/* Navigation */
	&__main-navigation {
		ul {
			list-style: none;
			display: flex;

			li {
				margin-right: 2rem;

				a {
					color: $white;
					font-weight: bold;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}